.cupertino-app-bar{
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index: 10;
}

.bar-content{
    background: linear-gradient(180deg, rgb(82, 82, 82) 0%, #3b3a3a 100%);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.bar-links{
    padding: 1%;
    width: 25%;
}
.bar-separator{
    height: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
}

.app-bar-logo{
    height: 30px;
    padding-left: 1%;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
}

li{
    width: 20%;
    border-right: 1px solid white;
    text-align: center;

}
li a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}