.cupertino-textbox:focus ~ .rs-float-label,
.cupertino-textbox:not(:focus):valid ~ .rs-float-label {
  top: 5%;
  left: 5%;
  font-size: 10px;
  opacity: 0.5; }

.tb-div {
  position: relative;
  width: 220px;
  height: 45px; }

.cupertino-textbox {
  font-size: 12px;
  padding-top: 3%;
  padding-left: 5%;
  width: 200px;
  height: 30px;
  outline: none;
  border-radius: 6px;
  border: 1px solid gray; }

.cupertino-textbox:focus {
  box-shadow: 0 0 5pt 1pt #2B7DE5;
  border: 1px solid gray;
  transition: box-shadow 0.2s ease-in-out; }

.rs-float-label {
  position: absolute;
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
  left: 5%;
  top: 20%;
  opacity: 0.8;
  transition: 0.25s ease all; }
