.rc-pull-down-button {
    background: white url('./down-arrow.svg') no-repeat 100% 50%;
    border: 1px solid #cacaca;
    border-radius: 5px;
    width: 140px;
    .rc-def-select {
        -webkit-appearance: none;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 3px 5px;
        width: 110%;
    }
    .rc-def-select:focus {
        outline: none;
    }
}

.rc-def-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.rc-small-pd-btn {
    width: 100px;
    .rc-def-select {
        font-size: 11px;
        padding-right: 30px;
    }
}

.rc-medium-pd-btn {
    width: 130px;
    .rc-def-select {
        font-size: 14px;
        padding-right: 35px;
    }
}

.rc-large-pd-btn {
    width: 180px;
    .rc-def-select {
        font-size: 16px;
        padding-right: 40px;
    }
}