.push-button {
  color: white;
  outline-style: none;
  user-select: none;
  border: none;
  cursor: pointer; }

.small-btn {
  height: 25px;
  width: 80px;
  font-size: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.medium-btn {
  height: 35px;
  width: 120px;
  font-size: 16px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px; }

.large-btn {
  height: 45px;
  width: 160px;
  font-size: 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px; }
