@import '../../styles/ColorSchema.scss';
.container {
    display: block;
    position: relative;
    text-align: left;
    padding-top: 3px;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 60px;
}

.small-rb-container {
    padding-top: 0px;
    padding-left: 20px;
    margin-bottom: 0;
    text-align: start;
}

.medium-rb-container {
    padding-top: 3px;
    padding-left: 30px;
}

.large-rb-container {
    padding-top: 10px;
    padding-left: 40px;
}

/* Hide the browser's default radio button */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: $dark-gray-grad;
    border-radius: 50%;
}

.container:hover input~.checkmark {
    background: $dark-gray;
}

.container:active input~.checkmark {
    background: #434343;
}

.container input:checked~.checkmark {
    background: $blue-grad;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}

.small-checkmark {
    top: 3px;
    width: 15px;
    height: 15px;
}

.container .small-checkmark:after {
    top: 3px;
    left: 3px;
    width: 9px;
    height: 9px;
}

.large-checkmark {
    width: 35px;
    height: 35px;
}

.container .large-checkmark:after {
    width: 25px;
    height: 25px;
}

.dark-text {
    color: black;
}

.light-text {
    color: white;
}

.blue-back input:checked~.checkmark {
    background: $blue-grad;
}

.grey-back input:checked~.checkmark {
    background: $dark-gray-grad;
}

.green-back input:checked~.checkmark {
    background: $green-grad;
}

.orange-back input:checked~.checkmark {
    background: $orange-grad;
}

.pink-back input:checked~.checkmark {
    background: $pink-grad;
}

.purple-back input:checked~.checkmark {
    background: $purple-grad;
}

.red-back input:checked~.checkmark {
    background: $red-grad;
}

.yellow-back input:checked~.checkmark {
    background: $yellow-grad;
}