.alert-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px); }

.alert {
  background-color: #fff;
  border-radius: 13px;
  width: 30%;
  height: 20%;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 40%;
  font-family: Arial, Helvetica, sans-serif;
  transform: translate(-50%, -50%); }

.alert-title {
  font-size: 25px;
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: left;
  padding-left: 5%; }

.alert-content {
  text-align: left;
  padding-left: 5%;
  font-size: 14px; }

.alert-footer {
  position: absolute;
  bottom: 10%;
  right: 5%; }

@media (min-width: 320px) and (max-width: 480px) {
  .alert {
    width: 70%;
    height: 20%;
    margin: auto;
    top: 50%; } }

@media (max-height: 500px) {
  .alert {
    height: 25%; } }

@media (max-height: 250px) {
  .alert {
    height: 50%; } }
