$blue: #1BADF8;
$gray: rgb(169, 169, 169);
$dark-gray: #6C6C6C;
$green: #63DA38;
$orange: #FF9500;
$pink: #FF2968;
$purple: #CC73E1;
$red: #FF3B30;
$yellow: #FFCC00;
//GRADIENTS
$blue-grad: linear-gradient(180deg, #1BADF8 0%, #2B7DE5 100%);
$dark-gray-grad: linear-gradient(180deg, #6C6C6C 0%, #434343 100%);
$green-grad: linear-gradient(180deg, #63DA38 0%, #00AB21 100%);
$orange-grad: linear-gradient(180deg, #FF9500 0%, #D75F00 100%);
$pink-grad: linear-gradient(180deg, #FF2968 0%, #99195E 100%);
$purple-grad: linear-gradient(180deg, #CC73E1 0%, #7C1FA1 100%);
$red-grad: linear-gradient(180deg, #FF3B30 0%, #C22518 100%);
$yellow-grad: linear-gradient(180deg, #FFCC00 0%, #D8AC21 100%);