.def-checkbox {
    opacity: 0;
    transform: scale(1.3);
    cursor: pointer;
}

.cupertino-checkbox {
    height: 15px;
    width: 15px;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #eee;
    outline: none;
}

.small-checkbox {
    height: 15px;
    width: 15px;
}

.medium-checkbox {
    height: 25px;
    width: 25px;
}

.large-checkbox {
    height: 35px;
    width: 35px;
}

.small-def-checkbox {
    transform: scale(1.3);
}

.medium-def-checkbox {
    transform: scale(2.2);
    margin-left: 25%;
}

.large-def-checkbox {
    transform: scale(3);
    margin-left: 30%;
}

.checkbox-icon {
    height: 100%;
    cursor: pointer;
}