.rc-slider {
  float: left;
  outline-color: transparent;
  outline: none;
  -webkit-appearance: none;
  background: transparent;
  width: 100%; }
  .rc-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: linear-gradient(180deg, #6c6c6c 0%, #434343 100%);
    cursor: pointer;
    height: 10px;
    border-radius: 13px; }
  .rc-slider::-webkit-slider-thumb {
    margin-top: -3px;
    outline: none;
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg, white 0%, darkgray 100%); }
  .rc-slider::-moz-range-track {
    background: linear-gradient(180deg, #6c6c6c 0%, #434343 100%);
    height: 10px;
    border-radius: 13px; }
  .rc-slider::-moz-range-thumb {
    margin-top: -3px;
    outline: none;
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: linear-gradient(180deg, white 0%, darkgray 100%);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); }
  .rc-slider::-moz-range-progress {
    height: 10px;
    border-radius: 13px; }
  .rc-slider::-moz-focus-outer {
    border: 0; }

.rc-slider-blue-progress::-moz-range-progress {
  background: linear-gradient(180deg, #1badf8 0%, #2b7de5 100%); }

.rc-slider-blue-background::-webkit-slider-runnable-track {
  background: linear-gradient(180deg, #1badf8 0%, #2b7de5 100%); }

.rc-slider-blue-background::-moz-range-track {
  background: linear-gradient(180deg, #1badf8 0%, #2b7de5 100%); }

.rc-slider-grey-progress::-moz-range-progress {
  background: linear-gradient(180deg, #6c6c6c 0%, #434343 100%); }

.rc-slider-grey-background::-webkit-slider-runnable-track {
  background: linear-gradient(180deg, #6c6c6c 0%, #434343 100%); }

.rc-slider-grey-background::-moz-range-track {
  background: linear-gradient(180deg, #6c6c6c 0%, #434343 100%); }

.rc-slider-green-progress::-moz-range-progress {
  background: linear-gradient(180deg, #63da38 0%, #00ab21 100%); }

.rc-slider-green-background::-webkit-slider-runnable-track {
  background: linear-gradient(180deg, #63da38 0%, #00ab21 100%); }

.rc-slider-green-background::-moz-range-track {
  background: linear-gradient(180deg, #63da38 0%, #00ab21 100%); }

.rc-slider-orange-progress::-moz-range-progress {
  background: linear-gradient(180deg, #ff9500 0%, #d75f00 100%); }

.rc-slider-orange-background::-webkit-slider-runnable-track {
  background: linear-gradient(180deg, #ff9500 0%, #d75f00 100%); }

.rc-slider-orange-background::-moz-range-track {
  background: linear-gradient(180deg, #ff9500 0%, #d75f00 100%); }

.rc-slider-pink-progress::-moz-range-progress {
  background: linear-gradient(180deg, #ff2968 0%, #99195e 100%); }

.rc-slider-pink-background::-webkit-slider-runnable-track {
  background: linear-gradient(180deg, #ff2968 0%, #99195e 100%); }

.rc-slider-pink-background::-moz-range-track {
  background: linear-gradient(180deg, #ff2968 0%, #99195e 100%); }

.rc-slider-purple-progress::-moz-range-progress {
  background: linear-gradient(180deg, #cc73e1 0%, #7c1fa1 100%); }

.rc-slider-purple-background::-webkit-slider-runnable-track {
  background: linear-gradient(180deg, #cc73e1 0%, #7c1fa1 100%); }

.rc-slider-purple-background::-moz-range-track {
  background: linear-gradient(180deg, #cc73e1 0%, #7c1fa1 100%); }

.rc-slider-red-progress::-moz-range-progress {
  background: linear-gradient(180deg, #ff3b30 0%, #c22518 100%); }

.rc-slider-red-background::-webkit-slider-runnable-track {
  background: linear-gradient(180deg, #ff3b30 0%, #c22518 100%); }

.rc-slider-red-background::-moz-range-track {
  background: linear-gradient(180deg, #ff3b30 0%, #c22518 100%); }

.rc-slider-yellow-progress::-moz-range-progress {
  background: linear-gradient(180deg, #ffcc00 0%, #d8ac21 100%); }

.rc-slider-yellow-background::-webkit-slider-runnable-track {
  background: linear-gradient(180deg, #ffcc00 0%, #d8ac21 100%); }

.rc-slider-yellow-background::-moz-range-track {
  background: linear-gradient(180deg, #ffcc00 0%, #d8ac21 100%); }
